
.menubtn{
    width: 100%;
    text-align: left;
    background-color: #4b646b;
    color: #f1f1f1;
    border: none;
    padding-left: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}

 button:hover {
    color: #27d8ca;
}
.menubtn:focus {
    color: #27d8ca;
}