<h6>{{user.username | uppercase }} DETAILS</h6>
<table>                                                                                                  
    <tr><td>id</td><td>{{user.id}}</td></tr>
    <tr><td>indirizzo</td><td>{{user.address}}</td></tr>
    <tr><td>nascita</td><td>{{user.birthdate}}</td></tr>
    <tr><td>cod.carta</td><td>{{user.ccc}}</td></tr>
    <tr><td>email</td><td>{{user.email}}</td></tr>
    <tr><td>telefono</td><td>{{user.telnumber}}</td></tr>
    <tr><td>username</td><td>{{user.username}}</td></tr>
    <tr><td>ruolo</td><td>{{user.userType}}</td></tr>
</table>


